<div class="logo">
  JE SUIS TOUJOURS A COTE DE VOUS
 </div>
 <ul class="nav">
        <li class="nav-nav">WORKS</li>
        <li class="nav-nav">BLOG</li>
        <li class="nav-nav">RECRUIT</li>
        <li class="nav-nav">COMPANY</li>
        <li class="nav-nav">CONTACT</li>
      </ul>