<head>
    <meta charset="UTF-8">
    <title>ユーザー一覧</title>
    <link rel="stylesheet" href="userIndex.css">
</head>

<body>
<div class="main users-index">
  <div class="container">
    <h1 class="users-heading">User List</h1>

    <% @users.each do |user| %>
      <div class="users-index-item">
        <div class="user-right">
          <!-- 下記のコードでユーザーを表示 -->
        <div class="account-profile-image d-flex flex-column">  
          <% if user.image? %>      
            <%= image_tag user.image.url %>
         <% end %>
        </div>
         
       </div>
      </div>
   <% end %>

  </div>
</div>

</body>
