/* リセットCSS */
body {
  font-size: 14px;
  color: #333;
  margin: 0 auto;
}
h1,h2,h3,h4,h5,h6,p {
  padding: 10px 0;
  margin: 0;
}

ul,li {
  padding: 0;
  margin: 0;
}
/* リセットCSS */


* {
  box-sizing: border-box;
}

.top-page-header {
  height: 60px;
  background-color: #f0f0f0;
  padding: 10px 0;
  display: flex; 
}

.nav-left {
  font-style: italic;
  width: 50%;
  margin-left: 50px;
}

.lists-left {
  display: flex;
  min-width: 200px;
}

.category-list {
  text-decoration: none;
  margin-right: 3vw;
  color: #333333;
  font-size: 30px;
}

.human-list {
  text-decoration: none;
  color: #333333;
  font-size: 30px;
}

.nav-right{
  font-style: italic;
  margin-left: 400px;
}

.lists-right {
  display: flex;
  list-style: none;
  align-items: flex-end;
}

.user-last-name {
  font-size: 30px;
  margin-right: 20px;
}


.logout {
  font-size: 30px;
  margin-right: 30px;
  text-decoration: none;
  color: #333333;
}

.profile {
  font-size: 30px;
}

.login {
  font-size: 30px;
  margin-right: 30px;
  text-decoration: none;
  
}

.sign-up {
  font-size: 30px;
  margin-right: 30px;
  text-decoration: none;
  
}


/* first-viewクラスからbottom-contentクラスまでの要素の親要素 */
.contents {
  
}

.first-view{
  height: 130vh;
  margin-bottom: 20px;
}

.top-image {
  position: relative;
  height: 20%;
  width: 100%
}

.top-image p {
  position: absolute;
  color: black;
  font-weight: bold; /*太字に*/
  font-size: 90px;
  font-family :Quicksand, sans-serif;/*Google Font*/
  top: 15%;
  left: 50%;
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
}

.top-image span {
  display: flex;
  position: absolute;
  top: 80%;
  left: 10%;
}



/* Genre紹介 */
.middle-content {
  margin: 0 160px;
}

.circle{
  display: inline-block;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background: skyblue;
  text-align:center;
  line-height: 400px;
  font-size: 60px;
  margin-top: 50px;
  margin-right: 45px;
  font-family: 'Amatic SC', cursive;
}


/* Mateたち */
.bottom-content {
  height: 400px;
  margin-top: 300px;

}

.heading-name {
  font-size: 55px;
  font-family: 'Amatic SC', cursive;
}

.mate-list {
  display: flex;
  justify-content: space-around;
  margin: 60px 0;
}

.mate-image {
  height: 300px;
}

.mate-name {
  font-size: 40px;
  text-align: center;
  font-family: 'Amatic SC', cursive;
}

/* フッター */




/*実験用のCSS(科目一覧)*/

.user-contents {
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10vh 0;
  background: linear-gradient(to top, rgba(217, 175, 217, 0.7) 0%, rgba(151, 217, 225, 0.7) 100%),url("/assets/back-image.jpg"); 
  background-size: cover;
  margin-top: 180px;
}

.user-contents>.title {
  font-size: 5vh;
  line-height: 1.4;
  font-weight: bold;
  font-family: 'Amatic SC', cursive;
}

.user-lists {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.user-lists>.list {
  width: 17vh;
  padding: 1vw;
  background-color: #FFF;
}


.user-img-content {
  position: relative;
}

.user-img {
  width: 100px;
  height: 130px;
}

.subtitle {
  font-size: 25px;
  font-family: 'Amatic SC', cursive;
}


.user-info {
  background-color: #FFF;
  color: black;
  padding: 1vw;
  font-family: 'Amatic SC', cursive;
}


/*footerの実験*/
footer {
  height: 150px;
  background-color: #f0f0f0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
 
.logo {
  font-size: 25px;
  font-family: 'Amatic SC', cursive;
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px solid #111;
  
}

.nav {
  display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
   
    -ms-flex-align: center;
    align-items: center;
    
    justify-content: center;
    padding: 20px 0;
}

.nav-nav {
  margin-right: 15px;
  font-family: 'Amatic SC', cursive;
}



