/* リセットCSS */
body {
  font-size: 14px;
  color: #333;
  margin: 0 auto;
}
h1,h2,h3,h4,h5,h6,p {
  padding: 10px 0;
  margin: 0;
}

ul,li {
  padding: 0;
  margin: 0;
}
/* リセットCSS */


* {
  box-sizing: border-box;
}

.top-page-header {
  height: 50px;
  background-color: #f0f0f0;
  padding: 10px 0;
  display: flex; 
}

.nav-left {
  width: 50%;
  margin-left: 30px;
}

.lists-left {
  display: flex;
  min-width: 200px;
}

.category-list {
  text-decoration: none;
  margin-right: 3vw;
  color: #333333;
  font-size: 30px;
}

.human-list {
  text-decoration: none;
  color: #333333;
  font-size: 30px;
}

.nav-right{
  
}

.lists-right {
  display: flex;
  list-style: none;
  align-items: flex-end;
}


.logout {
  text-decoration: none;
  color: #333333;
}

.login {
  text-decoration: none;
  line-height: 32px;
  margin-right: 3vw;
  color: #333333;
}

.sign-up {
  text-decoration: none;
  color: #333333;
}


/* first-viewクラスからbottom-contentクラスまでの要素の親要素 */
.contents {
  
}

.first-view{
  height: 60vh;
}

.top-image {
 
}


/* Genre紹介 */
.middle-content{
  height: 450px;
 
  margin: 0 160px;
}

/* Mateたち */
.bottom-content {
  height: 800px;
  
  margin: 0 160px;
}

/* フッター */
footer {
  height: 50px;
  
}





/*実験用のCSS(科目一覧)*/
