.users-heading {
  font-size: 30px;
}

/* センタリング */
.account-profile-image {
  text-align: center;
}

/* 画像サイズを 30px 四方に設定して、object-fit: cover で真ん中で切り抜き */
.account-profile-image img {
  height: 130px;
  width: 130px;
  object-fit: cover;
  border-radius: 0.7rem;
}

.user-info {
  font-size: 20px;
}