// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* センタリング */
.account-profile-image {
  text-align: center;
}

/* 画像サイズを 30px 四方に設定して、object-fit: cover で真ん中で切り抜き */
.account-profile-image img {
  height: 30px;
  width: 30px;
  object-fit: cover;
  border-radius: 0.7rem;
}