.main {
  background: linear-gradient( 90deg,
  rgba(255, 225, 132, .7) 50%, rgba(255,255,255, 0) 50%),
linear-gradient( 90deg,
  rgba(32, 113, 120, .3) 50%, rgba(255,255,255, 0) 50%),
linear-gradient( 90deg,
  rgba(255, 150, 102, .3) 50%, rgba(255,255,255, 0) 50%),
linear-gradient( 90deg,
  rgba(23, 76, 79, .1) 50%, rgba(255,255,255, 0) 50%);
background-size: 7em 7em, 5em 5em, 3em 3em, 1em 1em;
background-color: #F5E9BE;
font: 10px/1.4 'Trebuchet MS', Verdana, sans-serif;

}

.users-heading {
  font-size: 40px;
}

.user-right {
  float: left;
  margin-bottom: 50px;
}


/* センタリング */
.account-profile-image {
  text-align: center;
}

/* 画像サイズを 30px 四方に設定して、object-fit: cover で真ん中で切り抜き */
.account-profile-image img {
  height: 300px;
  width: 130px;
  object-fit: cover;
  border-radius: 0.7rem;
}

.user-info {
  font-size: 40px;
}