.show-page {
  height: 100%;
  display: block;
  
}

.bg {
  height: 100%;
  
}

.image {
  height: 500px;
  width: 500px;
  object-fit: cover;
  border-radius: 0.7rem;
  margin-top: 50px;
}

.text-center {
  font-size: 35px;

  font-family :Quicksand, sans-serif;/*Google Font*/

  color: white;
}

#follow_form  {
  margin-left: 800px;
  width:30px;
  height:30px;
  color:blue;
  border-radius:20px;
}
 
.chat-room {
  font-size: 35px;
  margin-top: 30px;
  color: coral;
}